<div style="text-align:center">

  <!-- Title1 from the backend -->
  <h1>{{ title1 }}</h1>

  <!-- Title2 from the backend -->
  <h2>{{ title2 }}</h2>
  <div>
    <h3>Filter Marker Types</h3>
    <label><input type="checkbox" #gluhwein id="gluhwein" checked (change)="onCheckboxChange()"> Glühwein</label>
    <label><input type="checkbox" #gastronomie id="gastronomie" checked (change)="onCheckboxChange()"> Gastronomie</label>
    <label><input type="checkbox" #sonst id="sonst" checked (change)="onCheckboxChange()"> Sonstige Stände</label>
  </div>

  <!-- Map container -->
  <div style="display: flex; justify-content: center; align-items: center; height: 80vh;">
    <div id="map" style="height: 80vh; width: 95vw;"></div>
  </div>
  <h3>{{ title3 }}</h3>

</div>
